*build*
*~
config.h
dep/
obj/
*.gch
.DS_Store
.cproject
.project
.pydevproject
.settings
.idea
.vscode

source/config.hpp
submodules/.symbolic

.pytest_cache
__pycache__

# Editor scratch files and IDE setup
## Qt Creator setup file
CMakeLists.txt.user
## VIM scratch files
.*.swp
